aiohttp==3.13.1
PyYAML==6.0.3
typing_extensions==4.15.0


# ---- FastAPI Core ----
fastapi==0.116.1
uvicorn[standard]==0.35.0
gunicorn==23.0.0

# ---- Environment & Config ----
python-dotenv==1.1.1

# ---- Supabase SDK ----
supabase==2.18.0

# ---- LangChain / LangGraph ----
langchain==0.3.27
langchain-core==0.3.74
langgraph==0.6.6

# ---- Logging (Optional but useful)
coloredlogs==15.0.1
humanfriendly==10.0

# ---- Pydantic (for BaseModel)
pydantic==2.11.7

pandas==2.3.2

yfinance==0.2.65

aiohttp==3.13.1
langchain-google-genai==2.1.9